/* ==========================================================
 header
========================================================== */
.header {
  width: 100%;
  @at-root &-in {
    width: $width;
    margin: 0 auto;
    .header-logo {
    }
  }
}
