//font
$base-font-size: 16px;
$line-height: 1.5;
$sans-serif: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; 
$serif: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "游明朝体", "Yu Mincho"; 
$html5: true;
// colors 

//contents width
$width: 1080px;

