extends layout/_layout.pug
block info
  meta(name="title", content=meta.top.title)
  meta(name="description", content=meta.top.description)
  meta(name="keywords", content=meta.top.keyword)
block body
  .wrapper
    main
      .content
        section
          h1 gulp10 - pug template 3
          h2 pug sass
          h3 good
